body{
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
  }

  input, select, button {
    font-size: 100%;
    width : 25%;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    
  }
  .menu{
      display: flex;
      justify-content: center;
      list-style-type: none; 
      padding: 0;
      margin: 0;
      background-color: rgb(15, 8, 145);

  }

  .link{
    list-style-type: none;
    text-align: center;
    
  }

 .text{
    color: white;
    margin: 2px;
 }

 h1{
     text-align: center; 
 }
 h2{
     text-align: center;
 }

 #home_images{
     display: flex;
     width: 250x;
     height: 250px;
     justify-content: space-around;
 }

.coloured_link{
    color: rgb(15, 8, 145);
}

#teams{
    
}