body{
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
  }

  input, select, button {
    font-size: 100%;
    width : 50%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
  }
  .menu{
      display: flex;
      list-style-type: none; 
      padding: 0;
      margin: 0;
      background-color: rgb(247, 100, 100);

  }

  .menu{
      list-style-type:;
      text: white;
  }

 #teams{
     
 }