body{
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
  }

  input, select, button {
    font-size: 100%;
    width : 50%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
  }
  .menu{
      display: flex;
      justify-content: center;
      list-style-type: none; 
      padding: 0;
      margin: 0;
      background-color: rgb(39, 29, 242);

  }

  .link{
    list-style-type: none;
    color: white;
    text-align: center;
  }

 .text{
    color: white;
    margin: 2px;
    
     

 }

 h1{
     text-align: center;
 }